<a
  class='border border-2 border-slate-400 hover:bg-white/25 hover:ease-in ease-out duration-300 text-white uppercase py-3 px-4 tracking-wider text-xs md:text-md mt-8'
  href='#about-section'
>What we do</a>