<a
  class="md:text-md mt-8 border border-2 border-slate-400 py-3 px-4 text-xs uppercase tracking-wider text-white duration-300 ease-out hover:bg-white/25 hover:ease-in"
  href="#about-section"
>What we do</a>