<section id="hero-section" class="flex h-screen w-screen justify-center">
  <div class="mb-24 flex flex-col items-center justify-center md:mb-0">
    <img
      class="mb-8 flex w-2/3 md:w-1/4"
      src="assets/img/logo.webp"
      alt="KST Development"
    />
    <div
      class="my-4 text-3xs uppercase text-white sm:text-2xs sm:tracking-wider md:text-xs"
    >
      WEB DEVELOPMENT - WEB CONSULTING - INFRASTRUCTURE MANAGEMENT
    </div>
    <HeroSection::Title />
    <HeroSection::Button />
  </div>
</section>