<section class='w-screen h-screen flex justify-center'>
  <div class='flex flex-col justify-center items-center font-default'>
    <img class='flex w-1/4 mb-8' src='assets/img/logo-no-title.webp' />
    <div class='uppercase text-white text-xs tracking-wider my-2'>
      WEB DEVELOPMENT - WEB CONSULTING - INFRASTRUCTURE MANAGEMENT
    </div>
    <HeroSection::HeroTitle />
  </div>
</section>