<section id="hero-section" class='w-screen h-screen flex justify-center'>
  <div class='mb-24 md:mb-0 flex flex-col justify-center items-center font-default'>
    <img class='flex w-2/3 md:w-1/4 mb-8' src='assets/img/logo.webp' />
    <div class='uppercase text-white text-[7px] sm:text-[9px] md:text-xs sm:tracking-wider my-4'>
      WEB DEVELOPMENT - WEB CONSULTING - INFRASTRUCTURE MANAGEMENT
    </div>
    <HeroSection::Title />
    <HeroSection::Button />
  </div>
</section>