<section
  id="about-section"
  class="flex h-2/3 w-full flex-col justify-center bg-white"
>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <div
      class="mt-16 flex w-full flex-row items-center justify-center lg:mt-40 lg:w-1/2"
    >
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
      <h2
        class="flex w-full justify-center text-center text-lg font-semibold uppercase tracking-wide lg:mx-4 lg:w-4/6 lg:text-4xl"
      >
        About KST Development
      </h2>
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
    </div>
    <div
      class="w-3/4 py-6 text-center text-sm tracking-wide text-slate-400 sm:w-1/2 md:text-xl"
    >
      We are a web development agency located in greater
      <span class="text-kst-blue">Seoul, South Korea</span>. We can build and
      manage your website at a competitive rate without compromising quality.
    </div>
    <AboutSection::ServicesGrid />
  </div>
</section>