<section
  id='about-section'
  class='w-full h-2/3 bg-white flex flex-col justify-center'
>
  <div class='w-full h-full flex flex-col justify-center items-center'>
    <div
      class='flex flex-row w-full lg:w-1/2 mt-16 lg:mt-40 justify-center items-center'
    >
      <div class='hidden lg:flex bg-divider bg-repeat-x h-3 lg:w-1/6'></div>
      <h2
        class='flex lg:mx-4 w-full lg:w-4/6 uppercase text-center justify-center text-lg lg:text-4xl tracking-wide font-extrabold'
      >
        About KST Development
      </h2>
      <div class='hidden lg:flex bg-divider bg-repeat-x h-3 lg:w-1/6'></div>
    </div>
    <div
      class='w-3/4 sm:w-1/2py-6 text-center text-slate-400 text-sm md:text-xl tracking-wide'
    >
      We are a web development agency located in greater
      <span class='text-kst-blue'>Seoul, South Korea</span>. We can build and
      manage your website at a competitive rate without compromising quality.
    </div>
    <AboutSection::ServicesGrid />
  </div>
</section>