<section
  id='about-section'
  class='w-full h-2/3 bg-white flex flex-col justify-center'
>
  <div class='w-full h-full flex flex-col justify-center items-center'>
    <div class='flex flex-row w-1/2 mt-40 justify-center'>
      <div class='flex bg-divider bg-repeat-x h-5 w-1/4'></div>
      <h2
        class='flex flex-grow uppercase text-4xl tracking-wide font-bold'
      >About KST Development</h2>
      <div class='flex bg-divider bg-repeat-x h-5 w-1/4'></div>
    </div>
    <div class='w-1/2'>
      We are a web development agency located in greater Seoul, South Korea. We
      can build and manage your website at a competitive rate without
      compromising quality.
    </div>
    <AboutSection::ServicesGrid />
  </div>
</section>