<section
  id="about-section"
  class="flex h-2/3 w-full flex-col justify-center bg-white"
>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <div
      class="mt-16 flex w-full flex-row items-center justify-center lg:mt-40 lg:w-1/2"
    >
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
      <h2
        class="flex w-full justify-center text-center text-lg font-semibold uppercase tracking-wide lg:mx-4 lg:w-4/6 lg:text-4xl"
      >
        About KST Development
      </h2>
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
    </div>
    <div
      class="w-3/4 p-6 text-center text-sm tracking-wide text-slate-400 sm:w-1/2 md:text-xl"
    >
      We are a web development agency located in greater
      <span class="text-kst-blue">Seoul, South Korea</span>. We can build and
      manage your website at a competitive rate without compromising quality.
    </div>
    <div class="w-full flex flex-col flex-col-reverse md:flex-row md:w-3/4 xl:w-1/2 px-8 md:px-14 text-slate-500 items-center gap-4 md:gap-12 my-12">
      <div class="flex flex-col min-w-fit items-center justify-center gap-4">
        <img src="/assets/img/founder.webp" alt="Founder Kyle Tong" class="w-32 lg:w-40 h-32 lg:h-40 rounded-full">
        <p class="text-slate-400 text-sm">Kyle Tong, Founder</p>
      </div>
      <p class="mb-10 leading-relaxed tracking-wide text-sm lg:text-md text-justify lg:text-left">
       KST Development is a Kiwi-owned web development agency that provides access to the pool of talented web developers in South Korea.
       We seek to offer competitive prices to businesses based in New Zealand and Australia, while never sacrificing on quality.
       Get <a class="text-kst-blue" href="#contact-section">in touch</a> today if you have something we can help with.
      </p>
    </div>
    <AboutSection::ServicesGrid />
  </div>
</section>