<section
  id="about-section"
  class="flex h-2/3 w-full flex-col justify-center bg-white"
>
  <div class="flex h-full w-full flex-col items-center justify-center">
    <div
      class="mt-16 flex w-full flex-row items-center justify-center lg:mt-40 lg:w-1/2"
    >
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
      <h2
        class="flex w-full justify-center text-center text-lg font-semibold uppercase tracking-wide lg:mx-4 lg:w-4/6 lg:text-4xl"
      >
        About KST Development
      </h2>
      <div class="hidden h-3 bg-divider bg-repeat-x lg:flex lg:w-1/6"></div>
    </div>
    <div
      class="w-3/4 p-6 text-center text-sm tracking-wide text-slate-400 sm:w-1/2 md:text-xl"
    >
      We are a web development agency located in greater
      <span class="text-kst-blue">Seoul, South Korea</span>. We can build and
      manage your website at a competitive rate without compromising quality.
    </div>
    <div
      class="my-12 flex w-full flex-col flex-col-reverse items-center gap-4 px-8 text-slate-500 md:w-3/4 md:flex-row md:gap-12 md:px-14 xl:w-1/2"
    >
      <div class="flex min-w-fit flex-col items-center justify-center gap-4">
        <img
          src="/assets/img/founder.webp"
          alt="Founder Kyle Tong"
          class="h-32 w-32 rounded-full lg:h-40 lg:w-40"
        />
        <p class="text-sm text-slate-400">Kyle Tong, Founder</p>
      </div>
      <p
        class="lg:text-md mb-10 text-justify text-sm leading-relaxed tracking-wide lg:text-left"
      >
        KST Development is a Kiwi-owned web development agency that provides
        access to the pool of talented web developers in South Korea. We seek to
        offer competitive prices to businesses based in New Zealand and
        Australia, while never sacrificing on quality. Get
        <a class="text-kst-blue" href="#contact-section">in touch</a>
        today if you have something we can help with.
      </p>
    </div>
    <AboutSection::ServicesGrid />
  </div>
</section>