<div class="grid grid-cols-3">
  <div class="flex col-span-1 h-full w-full">
    <figure class="flex items-center justify-center bg-kst-blue border rounded-full h-2/3 w-2/5">
      <img src={{@service.imagePath}} alt="Small icon representing {{@service.title}}" width="50" height="50"
        class="p-2">
    </figure>
  </div>
  <div class="col-span-2">
    <div>
      {{@service.title}}
    </div>
    <div>
      {{@service.description}}
    </div>
  </div>
</div>