<div class='py-8 px-2 sm:px-20 grid grid-cols-4'>
  <div class='flex col-span-1 px-2 xl:ml-4 2xl:ml-8'>
    <figure
      class='flex items-center justify-center bg-kst-blue border rounded-full h-16 w-16 xl:ml-4 2xl:ml-0'
    >
      <img
        src={{@service.imagePath}}
        alt='Small icon representing {{@service.title}}'
        class='p-4 md:p-3 xl:p-4'
      />
    </figure>
  </div>
  <div class='lg:pl-2 col-span-3'>
    <div class='pb-1 lg:pb-4 text-md lg:text-xl tracking-wide'>
      {{@service.title}}
    </div>
    <div class='text-sm lg:text-md text-slate-400'>
      {{@service.description}}
    </div>
  </div>
</div>