<div class="grid grid-cols-4 py-8 px-2 sm:px-20">
  <div class="col-span-1 flex px-2 xl:ml-4 2xl:ml-8">
    <figure
      class="flex h-16 w-16 items-center justify-center rounded-full border bg-kst-blue xl:ml-4 2xl:ml-0"
    >
      <img
        src={{@service.imagePath}}
        alt="Small icon representing {{@service.title}}"
        class="p-4 md:p-3 xl:p-4"
      />
    </figure>
  </div>
  <div class="col-span-3 lg:pl-2">
    <div class="text-md pb-1 tracking-wide lg:pb-4 lg:text-xl">
      {{@service.title}}
    </div>
    <div class="lg:text-md text-sm text-slate-400">
      {{@service.description}}
    </div>
  </div>
</div>