<div
  class="flex grid w-full grid-cols-1 gap-4 py-12 pl-2 pr-4 md:w-3/4 lg:grid-cols-3 lg:pl-0 lg:pr-0 xl:w-2/3"
>
  {{#each this.portfolioData as |item|}}
    <WorkSection::PortfolioGridItem
      @item={{item}}
      @openModal={{@openModal}}
      @closeModal={{@closeModal}}
    />
  {{/each}}
</div>