<div class='h-full'>
  <div class='flex hover:bg-kst-blue'>
    <img
      src='{{@item.mainImagePath}}'
      class='w-full h-full'
      alt='Image showing page from the project done for {{@item.title}}'
    />
  </div>
  <div>{{@item.description}}</div>
</div>