{{#if this.showModal}}
  <WorkSection::PortfolioModal
    @images={{this.modalImages}}
    @closeModal={{this.closeModal}}
  />
{{/if}}
<section
  id="work-section"
  class="flex flex-col items-center justify-center bg-white pb-12"
>
  <div
    class="mt-16 flex w-full flex-row items-center justify-center md:w-1/2 lg:mt-40"
  >
    <div class="hidden h-3 bg-divider bg-repeat-x md:flex md:w-2/6"></div>
    <h2
      class="mx-4 flex w-3/4 justify-center text-center text-4xl font-semibold uppercase tracking-wide md:w-2/6"
    >Work
    </h2>
    <div class="hidden h-3 bg-divider bg-repeat-x md:flex md:w-2/6"></div>
  </div>
  <div
    class="w-3/4 pt-12 text-center text-xl tracking-wide text-slate-400 lg:w-1/2 lg:py-6"
  >
    We believe our work speaks for itself. Browse some of our projects
    <span class="text-kst-blue">below</span>.
  </div>
  <WorkSection::PortfolioGrid @openModal={{this.openModal}} />
</section>