<section
  id="work-section"
  class="bg-white flex flex-col justify-center items-center pb-12"
>
  <div
    class="flex flex-row w-full md:w-1/2 mt-16 lg:mt-40 justify-center items-center"
  >
    <div class="hidden md:flex bg-divider bg-repeat-x h-3 md:w-2/6"></div>
    <h2
      class="flex mx-4 w-3/4 md:w-2/6 uppercase text-center justify-center text-4xl tracking-wide font-extrabold"
    >Work
    </h2>
    <div class="hidden md:flex bg-divider bg-repeat-x h-3 md:w-2/6"></div>
  </div>
  <div
    class="w-3/4 lg:w-1/2 pt-12 lg:py-6 text-center text-slate-400 text-xl tracking-wide"
  >
    We believe our work speaks for itself. Browse some of our projects
    <span class="text-kst-blue">below</span>.
  </div>
  <WorkSection::PortfolioGrid />
</section>