<div class="col-span-2 bg-white/30 md:mx-10">
  <div class="flex flex-col items-center py-4 px-4 md:items-start md:px-8">
    <h3 class="pb-2 text-lg tracking-wider text-kst-blue md:text-xl">Our Address</h3>
    {{#each this.addressBoxData as |boxItem|}}
      <ContactSection::AddressBoxRow @item={{boxItem}} />
    {{/each}}
  </div>
</div>