<div class="col-span-2 bg-white/30 md:mx-10">
  <div class="py-4 px-4 md:px-8 flex flex-col items-center md:items-start">
    <h3 class="text-kst-blue text-lg md:text-xl tracking-wider pb-2">Our Address</h3>
    {{#each this.addressBoxData as |boxItem|}}
      <ContactSection::AddressBoxRow @item={{boxItem}} />
    {{/each}}
  </div>
</div>