<div
  class="xs:text-2xs flex w-full flex-row pl-8 text-xs text-white md:py-2 md:pl-0"
>
  {{#if @item.iconPath}}
    <img
      class="mt-1 h-4 w-4"
      src={{@item.iconPath}}
      alt="small icon representing {{@item.name}}"
    />
  {{/if}}
  <div
    class="{{if @item.iconPath 'pl-2' 'pl-6'}}
      self-center leading-6 tracking-wider"
  >{{{@item.value}}}</div>
</div>