<div class='col-span-3 bg-white/30 mx-10'>
  <div class='py-4 px-8'>
    <h3 class='text-kst-blue text-xl tracking-wider pb-2'>Get in touch</h3>
    {{!-- {{#each this.addressBoxData as |boxItem|}}
    <ContactSection::AddressBoxRow @item={{boxItem}} />
    {{/each}} --}}
  </div>
</div>