<section
  id="tagline-section"
  class="flex items-center justify-center text-white"
>
  <div class="flex w-3/4 flex-col py-40 lg:w-1/2">
    <div class="flex flex-col items-center justify-center">
      <div class="flex h-5 w-3/4 bg-divider bg-repeat-x md:w-full"></div>
      <h2 class="pt-4 text-center text-xl uppercase md:text-3xl lg:text-5xl">OUR
        PHILOSOPHY IS
        <span class="text-kst-blue">TRANSPARENCY</span>
      </h2>
    </div>
    <div class="pt-6 text-center text-sm">
      <div>We believe a successful project depends on great
        <span class="text-kst-blue">communication</span>.</div>
    </div>
  </div>
</section>