<section
  id='brand-section'
  class='bg-kst-blue flex flex-row justify-center items-center'
>
  <div
    class='w-full md:w-3/4 lg:w-1/2 flex flex-row justify-center items-center py-12'
  >
    {{#each this.brandData as |brand|}}
      <a href='{{brand.brandUrl}}' class='w-1/2 md:w-1/4 lg:w-3/12 px-6'>
        <img
          src='{{brand.brandImagePath}}'
          alt='Logo for {{brand.brandName}}'
        />
      </a>
    {{/each}}
  </div>
</section>