<section
  id="brand-section"
  class="flex flex-row items-center justify-center bg-kst-blue"
>
  <div
    class="flex w-full flex-row items-center justify-center py-12 md:w-3/4 lg:w-1/2"
  >
    {{#each this.brandData as |brand|}}
      <a href="{{brand.brandUrl}}" class="w-1/2 px-6 md:w-1/4 lg:w-3/12">
        <img
          src="{{brand.brandImagePath}}"
          alt="{{brand.brandName}}"
        />
      </a>
    {{/each}}
  </div>
</section>