<div class="flex flex-col items-center bg-black/60 pb-32 text-white">
  <div class="flex h-full w-full bg-cover {{this.backgroundImageClass}}">
    <div class="flex h-full w-full justify-center bg-black/20">
      <div class="w-1/2 py-32 text-6xl font-bold">
        {{@article.title}}
      </div>
    </div>
  </div>
  <div class="w-1/2 pt-28 text-lg leading-7">
    {{html-safe @article.body.processed}}
  </div>
</div>
<ContactSection />
<FooterSection />