<div class="rounded-md bg-white/80 p-4">
  <div class="pb-4 text-2xl hover:text-gray-600">
    <LinkTo @route="blog.article" @model={{@article}}>
      {{@article.title}}
    </LinkTo>
  </div>
  <div class="flex flex-col text-sm">
    {{excerpt @article.body}}...
    <div class="flex justify-end pt-2">
      <LinkTo
        class="mr-6 uppercase hover:text-gray-600"
        @route="blog.article"
        @model={{@article}}
      >
        Read more &#8594;
      </LinkTo>
    </div>
  </div>
</div>