<div class="flex flex-col items-center p-20">
  <div class="flex flex-col items-center justify-center pb-10">
    <div class="flex h-5 w-3/4 bg-divider bg-repeat-x md:w-full"></div>
    <h2 class="pt-4 text-white text-center text-xl uppercase md:text-3xl lg:text-5xl">OUR BLOG</h2>
  </div>
  <div class="w-3/4 grid grid-cols-1 gap-4">
    {{#each @articles as |article|}}
      <Blog::ArticleTile @article={{article}} />
    {{/each}}
  </div>
</div>
