<div class="h-full w-full scroll-smooth bg-default bg-fixed font-default">
  <div class="flex h-full w-full flex-col bg-black/50">
    <HeroSection::Hero />
    <AboutSection::About />
    <TaglineSection::Tagline />
    <WorkSection::Work />
    <BrandSection::Brand />
    <ContactSection::Contact />
    <FooterSection::Footer />
  </div>
</div>