<div class='h-full w-full bg-default bg-fixed font-default'>
  <div class='flex flex-col h-full w-full bg-black/50'>
    <HeroSection::Hero />
    <AboutSection::About />
    <TaglineSection::Tagline />
    <WorkSection::Work />
    <BrandSection::Brand />
    <ContactSection::Contact />
  </div>
</div>